
// global

.pull-right {
	float: right;
} 
.pull-left {
	float: left;
}
.clearfix {
	overflow: hidden;
}

// 全局toolbar
.toolbar {
    background: #ebeef5;
    padding:10px;
}
// element-ui fixed
.el-loading-mask {
	z-index: 999;
}
.el-upload--picture-card {
	display: inline-block;
	margin-bottom: 22px;
}
.avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.avatar-uploader .el-upload:hover {
	border-color: #20a0ff;
}
.avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: 148px;
	height: 148px;
	line-height: 148px;
	text-align: center;
}
.avatar {
	max-width: 100%;
	max-height: 100%;
	display: block;
	position:relative;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.el-upload-list--picture-card .el-upload-list__item-thumbnail{
	width:initial;
	height:initial;
	max-width: 100%;
	max-height: 100%;
	display: block;
	position:relative;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.el-table .cell a{
	color: #D2691E;
}

.el-table .break-word div.cell{
	word-break: break-word;
}
.el-table .info-row {
	background: #c9e5f5;
}
.form-submit{
	z-index: 999;
    position: fixed;
    right: 40px;
    bottom: 0px;
    width: auto;
    height: auto;
}
.text-hidden{
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.display-ib{
	display:inline-block
}

// 字体大小

.fs-14{
	font-size:14px;
}
.fs-16{
	font-size:16px;
}
.fs-18{
	font-size:18px;
}
.fs-20{
	font-size:20px;
}
.fs-22{
	font-size:22px;
}

// 颜色
.color-red{
	color: #f56c6c;
}

//外边距
.mb5 {
	margin-bottom:5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom:15px;
}
.mb20 {
	margin-bottom:20px;
}

.mr5 {
	margin-right:5px;
}
.mr10 {
	margin-right:10px;
}
.mr15 {
	margin-right:15px;
}
.mr20 {
	margin-right:20px;
}

.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt15 {
	margin-top:15px;
}
.mt20 {
	margin-top:20px;
}

.ml5 {
	margin-left:5px;
}
.ml10 {
	margin-left:10px;
}
.ml15 {
	margin-left:15px;
}
.ml20 {
	margin-left:20px;
}


.pr5 {
	padding-right:5px;
}
.pr10 {
	padding-right:10px;
}
.pr15 {
	padding-right:15px;
}
.pr20 {
	padding-right:20px;
}

.pt5 {
	padding-top:5px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}

.pl5 {
	padding-left:5px;
}
.pl10 {
	padding-left:10px;
}
.pl15 {
	padding-left:15px;
}
.pl20 {
	padding-left:20px;
}

.pb5 {
	padding-bottom:5px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}
.pb20 {
	padding-bottom:20px;
}

.ta-c{
	text-align: center;
}
.ta-r{
	text-align: right;
}
.ta-l{
	text-align: left;
}

.w70{
	width:70px;
}
.w100{
	width:100px;
}
.w110{
	width:110px;
}
.w120{
	width:120px;
}
.w130{
	width:130px;
}
.w140{
	width:140px;
}
.w150{
	width:150px;
}

.lh40{
	line-height:40px
}
.lh45{
	line-height:45px;
}
.lh50{
	line-height:50px;
}
.lh55{
	line-height:55px;
}
.lh60{
	line-height:60px;
}

.el-collapse-item__content{
	padding:20px;
}